@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.large-text {
  font-size: 52px;
}

.medium-text {
  font-size: 24px;
}

.small-text {
  font-size: 14px;
}
